.abvcalc-add-ing-button,
.abvcalc-clear-ing-button {
	display: inline-block;
	border-radius: 3px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	color: #00aeff;
	background-color: transparent;
	border: 1px solid #00aeff;
	padding: 5px;
	margin-right: 0.9em;
}

.abvcalc-add-ing-button {
	width: 7.5em;
}

.abvcalc-clear-ing-button {
	width: 6.3em;
}

.abvcalc-switch-button {
	display: inline-block;
	border-radius: 3px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	color: #00aeff;
	background-color: transparent;
	border: 1px solid #00aeff;
	padding: 5px;
	margin-bottom: 15px;
	width: 14.7em;
}

.abvcalc-total-volume-list li {
	list-style: none;
	margin: 3px;
}

.abvcalc-recipe-name-input {
	font-size: 16px;
	border: 1px solid #00aeff;
	border-radius: 3px;
	background-color: #353535;
	color: white;
	padding: 5px;
	font-family: 'Ubuntu', sans-serif;
	width: 14.7em;
}

.abvcalc-submit-button {
	display: inline-block;
	border-radius: 3px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	color: #3aff30;
	background-color: transparent;
	border: 1px solid #3aff30;
	padding: 5px;
	width: 14.7em;
}

.abvcalc-submit-button-invalid {
	display: inline-block;
	border-radius: 3px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	color: #ff3030;
	background-color: transparent;
	border: 1px solid #ff3030;
	padding: 5px;
	width: 14.7em;
}

.recipe-form,
.recipe-calculation {
	margin-bottom: 1em;
}