.browse-recipe-container {
	border: 1px solid #00aeff;
	border-radius: 3px;
	padding: 1em;
	margin-top: 1em;
}

.browse-recipe-ingredient {
	display: block;
	margin-top: 0.05em;
	font-size: 0.9em;
}

.browse-loading {
	height: 5em;
	display: block;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
}

#browse-search-input {
	font-family: 'Ubuntu', sans-serif;
	background-color: #353535;
	color: white;
	border: 1px solid #00aeff;
	border-radius: 3px;
	width: 15em;
}

.search-button {
	font-family: 'Ubuntu', sans-serif;
	background-color: #353535;
	color: #00aeff;
	border: 1px solid #00aeff;
	border-radius: 3px;
	margin-left: 0.3em;
}

.clear-button {
	font-family: 'Ubuntu', sans-serif;
	background-color: #353535;
	color: #00aeff;
	border: 1px solid #00aeff;
	border-radius: 3px;
}

.sort-dropbox {
	font-family: 'Ubuntu', sans-serif;
	background-color: #353535;
	color: white;
	border: 1px solid #00aeff;
	border-radius: 3px;
}