.top-bar {
	background-color: #232323;
	height: 50px;
	line-height: 50px;
	clear: both;
	overflow: hidden;
	position: fixed;
	width: 100%;
	top: 0;
}

.banner-logo {
	display: inline-block;
	margin-top: 4px;
	margin-left: 20px;
	float: left;
	height: 40px;
}

.top-bar-welcome {
	display: inline-block;
	float: right;
}

.top-bar-signin,
.top-bar-signout,
.top-bar-signup {
	display: inline-block;
	margin-right: 20px;
	float: right;
	color: #00aeff;
	text-decoration: none;
	height: 48px;
	line-height: 48px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	background-color: transparent;
	border: 0;
}

.top-bar-signout {
	margin-left: 10px;
}