.abvcalc-ing-list-ing {
	border:	1px	solid #00aeff;
	border-radius: 3px;
	overflow-x: scroll;
	overflow-y: hidden;
}

.abvcalc-ing-list-delete-button,
.abvcalc-ing-list-edit-button {
	width: 4em;
	margin-top: 0.5em;
	margin-right: 1em;
	display: inline-block;
	border-radius: 3px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	color: #00aeff;
	background-color: transparent;
	border: 1px solid #00aeff;
	padding: 3px;
	margin-bottom: 0.5em;
}

.abvcalc-ing-list-ul {
	list-style: none;
}

.abvcalc-ing-list-ul li {
	margin-top: 5px;
}